:root {
  --color-white: #ffffff;
  --color-creme: #ffffff29;
  --color-pink: #ff00004d;
  --color-red: #ff0000;
  --color-black: #000000;
  --color-gray1: #d1d1d1;
  --color-gray2: #b2b2b2;
  --color-gray3: #6a6a6a;
  --color-gray4: #28272c;
}

* {
  box-sizing: border-box;
}
